@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nothing Found</title>
</head>
<body>
    <div class="noDataMessage">
        <p><b>No data found</b></p>
        
    </div>
</body>
</html>
