@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nothing Found</title>
</head>
<body>
    <div>
        <p><b>You have no BTs</b></p>

    </div>
</body>
</html>
