*.sln text   
*.sln diff=asplaintext
*.sln merge=binary 
*.csproj text   
*.csproj diff=asplaintext
*.csproj merge=binary  
*.cs text   
*.cs diff=csharp
*.cs merge=text
*.cshtml text
*.cshtml diff=asplaintex
*.cshtml merge=text    
*.css text  
*.css diff=asplaintext
*.css merge=text    
*.js text   
*.js diff=asplaintext     
*.js merge=text 
*.md text   
*.md diff=asplaintext     
*.md merge=text 
*.xml text   
*.xml diff=asplaintext     
*.xml merge=text 
*.config text   
*.config diff=asplaintext     
*.config merge=text 
*.ico binary
*.gif binary
*.png binary
*.jpg binary
*.jpeg binary
*.dll binary
*.exe binary
*.ico merge=binary
*.gif merge=binary
*.png merge=binary
*.jpg merge=binary
*.jpeg merge=binary
*.dll merge=binary
*.exe merge=binary
*.gitattributes text
*.gitattributes diff=asplaintext
*.gitattributes merge=text 
*.gitignore text
*.gitignore diff=asplaintext
*.gitignore merge=text 