@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Map</title>

    <style type="text/css">
        <!--
        page {tab-size:inherit;font-size: smaller; margin-right: 0.59in; margin-top: 0.79in;margin-bottom: 0.79in;}
        P {margin-bottom: 0.08in; direction: ltr;color: #000000;line-height: 110%; widows: 2;orphans: 2;font-size: 1em;}
        P.western {font-family: "Calibri", sans-serif;font-size: 10pt;so-language: ru-RU;}
        P.cjk {font-family: "Calibri", sans-serif; font-size: 10pt;}
        P.ctl {font-family: "Times New Roman", serif; font-size: 10pt;so-language: ar-SA;}

        H2 {margin-top: 0.33in;margin-bottom: 0in;direction: ltr;color: #365f91;line-height: 110%;page-break-inside: avoid;  widows: 2;  orphans: 2; font-size: 1.4em;}
        H2.western {font-family: "Cambria", serif;font-size: 12pt; so-language: ru-RU; }
        H2.cjk { font-family: "Times New Roman", serif;font-size: 12pt;}
        H2.ctl {font-family: "Times New Roman", serif; font-size: 12pt;so-language: ar-SA;}

        H3 {margin-top: 0.14in;margin-bottom: 0in;direction: ltr;color: #4f81bd;line-height: 110%; page-break-inside: avoid;widows: 2;orphans: 2;font-size: 1.2em;}
        H3.western {font-family: "Cambria", serif;font-size: 11pt;so-language: ru-RU;}
        H3.cjk {font-family: "Times New Roman", serif;font-size: 11pt; }
        H3.ctl {font-family: "Times New Roman", serif;font-size: 11pt; so-language: ar-SA;  }
        -->
    </style>


</head>
    <body>

    <div class="HelpInstruction">

        <h2><span lang="UK">Процес організації відряджень в </span><span lang="EN-US">Ajour</span>.<span lang="EN-US">BT</span></h2>

        <p class="MsoNormal"><span lang="UK">&nbsp;</span></p>

        <h3>
            <span lang="EN-US">ADM</span><span lang="EN-US"> </span><span lang="UK">
                планує
                відрядження (своє або працівників)
            </span>
        </h3>

        <p class="MsoNormal" style="text-indent:35.4pt"><span lang="EN-US">ADM</span><span lang="UK"> \ вкладка </span><span lang="EN-US">BTs</span><span lang="EN-US"> </span><span lang="UK">-&gt; кнопка&nbsp; </span><span lang="EN-US">Plan</span></p>

        <h3>
            <span lang="EN-US">ADM</span><span lang="EN-US"> </span><span lang="UK">
                реєструє
                відрядження (попереднє зголошення)…
            </span>
        </h3>

        <p class="MsoNormal" style="text-indent:35.4pt">
            <span lang="EN-US">ADM</span><span lang="UK"> \ вкладка </span><span lang="EN-US">BTs</span><span lang="UK"> \ колонка </span><span lang="EN-US">Planned</span><span lang="EN-US"> &nbsp;</span><span lang="UK">
                -&gt; відмітити
                галочки -&gt; кнопка
            </span><span lang="EN-US">Register</span>
        </p>

        <h3><span lang="UK">…або відразу підтверджує (в обхід реєстрації)</span></h3>

        <p class="MsoNormal" style="text-indent:35.4pt">
            <span lang="UK">&nbsp;</span><span lang="EN-US">ADM</span><span lang="UK"> \ вкладка </span><span lang="EN-US">BTs</span><span lang="UK"> \ колонка </span><span lang="EN-US">Planned</span><span lang="UK">
                -&gt; відмітити
                галочки -&gt; кнопка
            </span><span lang="EN-US">Confirm</span>
        </p>

        <h3>
            <span lang="EN-US">BTM</span><span lang="EN-US"> </span><span lang="UK">
                може
                оновляти організаційні дані зареєстрованого відрядження
            </span>
        </h3>

        <p class="MsoNormal"><span lang="UK">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US">BTM</span><span lang="UK"> \ вкладка “</span><span lang="EN-US">BTs</span><span lang="EN-US"> </span><span lang="EN-US">in</span><span lang="EN-US"> </span><span lang="EN-US">process</span><span lang="UK">” \ колонка “</span><span lang="EN-US">Registered</span><span lang="UK">”</span></p>

        <h3>
            <span lang="EN-US">ADM</span><span lang="EN-US"> </span><span lang="UK">
                може
                перепланувати відрядження поки воно зареєстроване
            </span>
        </h3>

        <p class="MsoNormal">
            <span lang="EN-US">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ADM</span><span lang="UK">
                \ вкладка
            </span><span lang="EN-US">BTs</span><span lang="UK"> \ колонка </span><span lang="EN-US">Registered </span><span lang="UK">
                -&gt; відмітити галочки -&gt; кнопка
            </span><span lang="EN-US">Replan</span><span lang="EN-US"> &nbsp;</span>
        </p>

        <h3><span lang="EN-US">ADM </span><span lang="UK">підтверджує відрядження</span></h3>

        <p class="MsoNormal" style="text-indent:35.4pt">
            <span lang="EN-US">ADM</span><span lang="UK"> \ вкладка </span><span lang="EN-US">BTs</span><span lang="UK"> \ колонка </span><span lang="EN-US">Registered </span><span lang="UK">
                -&gt; відмітити галочки -&gt; кнопка
            </span><span lang="EN-US">Confirm</span>
        </p>

        <h3>
            <span lang="EN-US">BTM</span><span lang="EN-US"> </span><span lang="UK">
                може
                оновлювати організаційні дані затвердженого відрядження
            </span>
        </h3>

        <p class="MsoNormal" style="text-indent:35.4pt"><span lang="EN-US">BTM \ </span><span lang="UK">вкладка </span><span lang="EN-US">“BTs in process” \ </span><span lang="UK">колонка </span><span lang="EN-US">“Confirmed”</span></p>

        <h3><span lang="EN-US">DIR </span><span lang="UK">може відмінити затверджене відрядження</span></h3>

        <p class="MsoNormal" style="text-indent:35.4pt"><span lang="EN-US">DIR \ </span><span lang="UK">вкладка </span><span lang="EN-US">“Business Trips”</span><span lang="UK"> -</span><span lang="EN-US">&gt; </span><span lang="UK">кнопка </span><span lang="EN-US">“Reject”</span></p>

        <h3>
            <span lang="EN-US">BTM</span><span lang="EN-US"> </span><span lang="UK">
                звітує
                про затверджене відрядження з організаційними даними в бухгалтерію
            </span>
        </h3>

        <p class="MsoNormal" style="text-indent:35.4pt">
            <span lang="EN-US">BTM</span> \ <span lang="UK">вкладка </span>“<span lang="EN-US">BTs</span><span lang="EN-US"> </span><span lang="EN-US">in</span><span lang="EN-US"> </span><span lang="EN-US">process</span>” \
            <span lang="UK">колонка </span>“<span lang="EN-US">Confirmed</span>” -&gt; <span lang="UK">відмітити галочки -&gt; кнопка </span><span lang="EN-US">Report</span>
        </p>

        <h3>
            <span lang="EN-US">ACC</span><span lang="EN-US"> </span><span lang="UK">
                опрацьовує
                дані про відрядження
            </span>
        </h3>

        <h3>
            <span style="color:#C0504D" lang="UK">
                Зміна \ відміна затвердженого
                відрядження
            </span>
        </h3>

        <p class="MsoNormal"><span lang="UK">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Потрібно звернутись до</span><span lang="EN-US"> BTM</span></p>

        <h3>
            <span style="color:#C0504D" lang="UK">
                Зміна \ відміна відрядження
                прозвітованого в бухгалтерію
            </span>
        </h3>

        <p class="MsoNormal"><span lang="UK">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Потрібно звернутись до</span><span lang="EN-US"> ACC</span></p>

        <h3><span lang="UK">&nbsp;</span></h3>

        <p class="MsoNormal">&nbsp;</p>

        <p class="MsoNormal">&nbsp;</p>

    </div>
</body>

