@{
    Layout = null;
}
<head>
   <title></title>
    <style type="text/css">
        <!--
        -->
    </style >

     </head > 
<body>
    <div class="HelpInstruction">
        <img id="mapImage" src="~/Images/AjourBTProcessMap.png" />
    </div>
</body>

        