<html>
<head>
<title>
    Index Page
</title>
</head>
<body>
    <div id="AjourWrapper">
    <img src="~/Images/AjourSystems.png" id="AjourLogo"><img>
    <h1 id="AjourSlogan">Ajour System</h1>
    </div>
</body>
</html>