@{
    ViewBag.Title = "CannotDelete";
    Layout = null;
}

<script type="text/javascript">
    clearTimeout(timer);
    timer = window.setTimeout(function () { location.reload(); }, timeout);
</script>
<h4>Can't Delete this department</h4>

<p>
    Please delete all associated data first
</p>

