@{
    Layout = null;
    ViewBag.Title = "Exception";
}
<script type="text/javascript">
    clearTimeout(timer);
    timer = window.setTimeout(function () { location.reload(); }, timeout);
</script>

<h4>Can’t delete this employee!</h4>
<p>
    Please delete all associated data first
</p>
