@model AjourBT.Domain.Entities.Employee

@{
    ViewBag.Title = "ResetPassword";
    Layout = null;
}

<h4>ResetPassword</h4>

<script type="text/javascript">
    clearTimeout(timer);
    timer = window.setTimeout(function () { location.reload(); }, timeout);

    $(function () {
        $("#OKResetPassword, #btnCancelResetPassword").button();
    })
</script>
<p>
    Please Confirm
</p>
@*<table>
        <tr>
            <td>
                @using (Html.BeginForm("ResetPasswordConfirmed","Employee", FormMethod.Post, new { id = "ResetPasswordForm" }))
                {
                    @Html.AntiForgeryToken()


                    <div style="float:left">

                        <button type="submit" data-href="/PU/ResetPasswordComfirmed/?EID=@ViewBag.UserName&Roles=@ViewBag.Roles" id="OKResetPassword" value="OK" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                            <span>OK</span>
                        </button>

                    </div>

                }
            </td>
            <td>
                <div style="float:right">

                    <button id="btnCancelResetPassword" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                        Cancel
                    </button>
                </div>
            </td>
        </tr>
 </table>*@
