@*<Page Language="C#" Inherits="System.Web.Mvc.ViewPage<MembershipUserCollection>"></Page>*@
@model System.Text.StringBuilder
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetUsers</title>
</head>
<body>
    @*<ul>
        @foreach (var user in Model)
        {

            <li>user.UserName</li>

        }
    </ul>*@
    @Model
</body>
</html>
