@{
    Layout = null;
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {id = "forgotPasswordForm"}))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Forgot Password Form</legend>
        <ol>
            <li>
                @Html.Label("User Name", new { @for = "UserName" })
                @Html.TextBox("UserName")
                <div style="color:red;">@ViewBag.Message</div>
            </li>
        </ol>
    </fieldset>
}